.container-fluid {
  width: 100%;

  .row {
    margin-bottom: 20px;

    input[type="text"] {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 14px;
    }

    .btn-add {
      background-color: rgb(83, 172, 83);
      color: #fff;
      margin-left: 10px;

      .mat-icon {
        margin-right: 5px;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 10px;
      border-bottom: 1px solid #ccc;
      text-align: left;
    }

    th {
      font-weight: bold;
    }

    .btn-update,
    .btn-delete {
      margin-right: 5px;
    }
  }
}